*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    background: #ff0000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 99;
}
.Agriconnect{
    font-size: 2em;
    color:#fff;
    user-select: none;

}
.navigation a {
    position:relative;
    font-size:1.1em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation .btnLogin-popup{
    width:130px;
    height:50px;
    border:2px solid #fff;
    background : transparent;
    outline: none;
    border-radius:6px;
    cursor:pointer;
    font-size:1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;

}
navigation .btnLogin-popup{

    background: #fff;
    color:#162938;
    

}